
body {
	background-color: #000000;
	color: #ffffff;
}

/* unvisited link */
a:link {
    color: #42f44e;
}

/* visited link */
a:visited {
    color: #42f44e;
}

/* mouse over link */
a:hover {
    color: #42f44e;
}

/* selected link */
a:active {
    color: #42f44e;
}

.fa {
	font-size: 3em;	
	color: #6b6b6b;
}

.item {
	padding: 10px;
}

.top_space {
	margin-top: 2%;	
}

.tech {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.tech img {
	height: 100px;
}

.slick-prev {
	left: -30px;
	width: 30px;
	height: 50px;
}
.slick-next {
	right: -30px;
	width: 30px;
	height: 50px;
}
.slick-next::before,
.slick-prev::before {
	color: #42f44e;
	font: normal normal normal 40px/1 FontAwesome !important;
}
.slick-prev::before {
	content: "\f053";
}
.slick-next::before {
	content: "\f054";
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.typing-animation{
	margin: 30px auto;
	font-size: 36px;
	font-family: 'Anonymous Pro', monospace;
	color: #42f44e;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

.cursor {
	font-size: 36px;
	animation: blink 0.7s infinite;
	color: #42f44e;
}