
body {
	background-color: #000000;
	color: #ffffff;
}

/* unvisited link */
a:link {
    color: #42f44e;
}

/* visited link */
a:visited {
    color: #42f44e;
}

/* mouse over link */
a:hover {
    color: #42f44e;
}

/* selected link */
a:active {
    color: #42f44e;
}

.fa {
	font-size: 3em;	
	color: #6b6b6b;
}

.top_space {
	margin-top: 2%;	
}